@media (min-width: 992px) {
  .main_col {
    margin-bottom: 8rem;
  }
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 3rem;
  font-weight: 200;
  color: rgb(158, 46, 23);
}

.title_span {
  font-size: 4rem;
  font-weight: 800;
}
