.navbar {
    min-height: 10vh;
}

.menuList li{
    list-style: none;
    cursor: pointer;
    transition: 0.1s;
    margin: 15px 0px 15px 0px;
    font-weight: 300;
}

.menuList li:hover {
    transition: 0.1s;
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.menuIcon {
    cursor: pointer;
    transition: 0.1s;
}

.menuIcon:hover {
    color: #101010;
    transition: 0.1s;
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
