.chatPicture {
    border-radius: 100%;
}

.chatTitle {
    font-weight: 700;
    line-height: 0.4;
}

.chatsBox {
    color: black !important;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 15px !important;
}

.chatsBox:hover {
    color: black !important;
    background-color: #f8f8f8 !important;
}

.chatBox {
    justify-content: flex-end;
    align-self: flex-end !important;
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
}

.messageReceivedContainer {
    width: 70%;
}

.messageSentContainer {
    width: 70%;
    margin-left: auto;
}

.chatMessageReceived {
    background-color: #f8f8f8;
}

.chatMessageSent {
    background-color: #9f2e17;
    color: white;
    margin-left: auto;
}

.chatMessageReceived,
.chatMessageSent {
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 15px;
}

.chatMessageText {
    margin: 0;
    display: inline;
}

.navItem {
    cursor: pointer !important;
}
